torch --index-url https://download.pytorch.org/whl/cu118
torchaudio --index-url https://download.pytorch.org/whl/cu118
langchain[llms]
aiogram
pyyaml
uuid
pymongo[srv]
llama-cpp-python
scikit-learn
pytubefix
faster-whisper
nvidia-cublas-cu11
nvidia-cudnn-cu11
